[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
drf-nested-routers = "*"
djangorestframework = "*"
django-jazzmin = "*"
pytest = "*"
pytest-django = "*"

[dev-packages]

[requires]
python_version = "3.11"
